{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 mt-5">
      <h3 class="text-center mb-3">Customize Your Profile</h3>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.name.label(class="form-label") }}
          {{ form.name(class="form-control") }}
        </div>
        <div class="d-grid">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
